.mainDiv {
  width:100vw; height: 100vh; background:#eee;
  background-size: 100vw 100vh;
}

ul {
  padding:0px;
}

.townBtn {
  margin:5px; font-size:24px;
}

.mainContainer {
  width: 84vw; position: absolute; left: 7%; top: 10%;
}

.contentDiv {
  width:100%; margin-top: 50px;
}

.singleContent {
  width: 100%;
}

.townContent {
  max-height: 400px; overflow: auto; margin-bottom: 15px; font-size: 24px;
}
.inSystem, .name {
  font-size: 24px;
}
.name {

}
