.mainDiv {
  width:100vw; height: 100vh; background:#eee;
  background-size: 100vw 100vh; overflow: hidden;
}
ul {
  padding:0px;
}

.townBtn {
  margin:5px;
}

.contentDiv {
  position: absolute; width:50vw; top:15%; left:25%;
}

.singleContent {
  position: absolute; width: 50vw; top: 15%; left: 25%;
}
