.mainDiv {
  width:100vw; height: 100vh; background:#eee;
  background-size: 100vw 100vh; overflow: hidden;
}

ul {
  padding:0px;
}

.townBtn {
  margin:5px;
}

.mainContainer {
  width: 70vw; position: absolute; left: 15%; top: 10%;
}

.contentDiv {
  width:100%; margin-top: 50px;
}

.singleContent {
  width: 100%;
}

.townContent {
  max-height: 200px; overflow: auto; margin-bottom: 15px;
}
