
html, body, :global(#root) {
  height: 100%;
}

* {
  font-family: "微软雅黑", "黑体";
  font-size: 20px;
}

.blue {
  color:#0000ff;
}
.red {
  color:#FF0000;
}
.yellow {
  color: #fa541c;
}
.green {
  color: #999999;
}
.boldRed {
  color:#F00; font-weight: bold;
}
.boldBlue {
  color:#0000FF; font-weight: bold;
}

/*后台管理部份的样式*/

.listHeader {
  height: 48px; background:#FFF; line-height: 48px; padding: 0px 10px; position: relative;
}
.listFilter {
  padding: 10px 10px 0px 10px;
}
.listOperator {
  position: absolute; right: 10px; top: 0px;
}

.listContent {
  margin:10px; background:#FFF;
}

.filterSelect {
  width:110px;
}
.avatarImg {
  width:80px;
}


/*后台管理部份的样式*/

/*微信管理部份的样式*/

.listPageHeader {
  width:92%; margin-left:4%; border-left:5px #27aacf solid; height: 30px; margin-top:10px; margin-bottom:10px; padding:0px 10px; line-height: 30px;
}

/*微信管理部份的样式*/


